.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 400px;
    height: 700px;
}

.wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 2rem;
}

.display {
    background-color: black;
    grid-column: 1/5;
    color: white;
}

.number-key {
    background-color: lightgrey;
}

.operator, .equals {
    background-color: orange;
}

.clear {
    background-color: darkgray;
    grid-column: 1/4;
}

.zero {
    grid-column: 1/3;
}

/* .wrapper {
    width: 400px;

}

.button-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-height: 400px;
}


.container {
    display: flex;
    width: 400px;
}



.number-key {
    background-color: lightgrey;
    height: 100px;
    width: 100px;
}



.zero {

} */